#CompletePage{
    background-color: antiquewhite;
}

#content{
    padding-top: 15px;
    color: lawngreen;

}
nav , h1{
    padding: 0%;
    margin: 0%;

}

#footer{
    background-color: aqua;
    color: black;
    text-align: center;
}